@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

body {
    margin: 0 auto;
    font-family: 'Potta One', Helvetica, serif;
    text-align: center;
}

h1 {
    background-color: #222222;
    margin: 0 0 25px 0;
    padding: 50px;
    color: white;
    text-align: center;
    font-size: 50px;
}

header {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

header img {
    width: 100%;
}

input[type = "text"], #startGame{
    padding: 10px;
    font-size: 20px;
}

#startGame {
    background: #222222;
    color: white;
}

h3 {
    padding: 20px;
    display: none;
}


header, .gameSection, h3 {
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.gameSection {
    display: none;
    text-align: center;
    margin-top: 30px;
}

.buttonSegments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 20px;

}

.gameImgs {
    width: 200px;
    height: 200px;
}

.buttons {
    padding: 10px 2px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-family: 'Potta One', cursive;
    margin: 10px 0 0 0;
}

.buttons:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

#player, #computer {
    text-decoration: underline;
}

.buttonSegments:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.buttonSegments:focus {
    background-color: rgba(122, 0, 0, 0.1);
}

#gameName {
    font-size: 30px;
    color: #4CAF50;
}
