@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    max-width: 580px;
    margin: 0 auto;
    background: url("images/bkgrd.jpg");
    font-size: 20px;
    font-family: 'Poiret One', Helvetica;
}

.loginSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 580px;
}

#userNameField, #pwdField, #loginSubmit {
    padding: 12px 20px 12px 10px;
    margin: 8px 0;
}

#loginSubmit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#loginSubmit:hover {
    background-color: gray;
    opacity: 50%;
    color: #000000;
}
.error {
    color: red;
    text-align: center;
}

#userNameField::placeholder, #pwdField::placeholder {
    font-size: 15px;
}